@import "@unocss/reset/tailwind-v4.css";
:root {
  color-scheme: dark;
}
@function --translucent(--color, --opacity) {
  result: oklch(from var(--color) l c h / var(--opacity));
}

@mixin --big-header(--size: 3rem, --weight: 700, --color: currentColor) {
  font-size: env(--size);
  font-weight: env(--weight);
  color: env(--color);
}
